body {
    margin: 0;
    padding: 0;
    background-image: url('./Assets/snake.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
}

canvas {
    border: 2px solid yellowgreen;
    z-index: 1;
    background-color: white;
    opacity: 0

}

#gameOver {
    position: absolute;
    display: inline-block;
    justify-content: center;
    margin: auto;
    top: 6vh;
    color: black;
    font-weight: 900;
    font-size: 3em;
    left: 50%;
    transform: translate(-50%, -50%);
}

div {
    display: flex;
    min-width: 90vw;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1446px) {
    body {
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    /* Stretch the background image */
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    #gameCanvas {
        width: 440px;
        height: 440px;
        margin-top: 11vh;
    }
}

@media screen and (max-width: 1446px) {

    #gameCanvas {
       scale: 0.85;
    }

    body {
        width: 100vw;
        height: 100vh;
        background-size: cover;
    }

    button {
        padding: 40px;
        font-size: 15px;
    }

    p {
       padding: 10px;   
    }

    #gameCanvas {
        margin-top: 7vh;
    }

    #gameOver {
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 1108px) {
    .left, .right {
        display: none;
    }
}

@media screen and (max-width: 1108px) {
    .controls {
        display: block;
    }

    .controlcontainer {
        position: absolute;
        bottom: 14vh;
        display: none;
        flex-direction: column;
        width: 200px;
        height: 230px !important;
        transform: rotate(90deg);
        gap: 100px;
    }

    #startBtn {
        z-index: 2;
        margin-bottom: 20vh;
    }

    .left, .right {
        display: flex;
        width: 200px;
        height: 200px;
    }

    .left button, .right button {
        opacity: 0.6;
    }

    .right button {
        transform: rotate(90deg);
    }

    p {
        font-size: 15px;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    #score {
        margin-bottom: 100px;
    }

    #restartBtn {
        padding: 10px;
        z-index: 2;
    }

    .footer {
        margin-bottom: -200px;
    }

    #gameCanvas {
        margin-top: -10vh;
    }

    button#restartBtn {
        margin-bottom: 1vh;
    }
}

@media screen and (max-width: 400px) {
    * {
        scale: 0.9;

        div#controlcontainer.controlcontainer {
            width: 150px;
            height: 180px !important;
            gap: 80px;
            margin-top: 100px;
        }
    }
}

@media screen and (min-width: 1446px) {

    #gameCanvas {
       scale: 1.2;
       margin-top: 15vh;
    }

    button#startBtn {
        margin-top: -10vh;
        z-index: 2;
    }

    p#score.score {
        margin-top: 5vh;
    }
}

button {
    margin: 10px;
    padding: 20px 20px;
    background-color: white;
    border-radius: 10px;
}

button:hover {
    background-color: yellowgreen;
    cursor: pointer;
}

p {
    color: white;
    padding: 10px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    font-size: 30px;
    font-weight: bold;
}


h1 {
    font-size: 50px;
    display: flex;
    color: white;
    padding: 20px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

footer {
    bottom: 0;
}

footer p {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.arrow {
    width: 20px;
    height: 20px;
}

.arrow2 {
    height: 20px;
    width: 20px;
}

div#right.right {
    transform: rotate(90deg);
    margin-left: 50px;
}

.leftarrow {
    transform: rotate(90deg);
}

.rightarrow {
    transform: rotate(270deg);
}